extends ./base.jade
block append style
    link(rel="stylesheet", type="text/css", href="/assets/style.css")
block body
  div#container
    div#binding &nbsp;
    div#page &nbsp;
      a#logOut(href="/logout") Log out
      div#birdList
        if birds || birds.length > 0
          each val in birds
            div.birdBox(data-body="#{val.body}", data-wing="#{val.wing}", data-beak="#{val.beak}")
              h3 #{val.name}
              canvas.tinyCanvas(id="#{val.name}")
        a#newBird(href="/maker") &nbsp;New
block scripts
        script(src="/assets/birdDraw.js")
        script(src="/assets/catalogue.js")